<h1>Hey whats up</h1>

<div class="container  my-12 mx-auto px-2 md:px-12">
  <div class="flex flex-wrap -mx-1 lg:-mx-4">
  <% @events.each do |event| %>
      <%= render event %>
    <br />
  <% end %>
</div>
  </div>

