<div class="flex mb-6 rounded-full bg-gray-100 h-8">
  <%= image_tag @event.creator.avatar, class: "w-8 h-8 rounded-full float-left h-full" %>
  <span class="ml-3"><%= @event.creator.name %></span>
</div>
