<div class="flex mb-6 rounded-full bg-gray-100 h-8">
  <% if attendee.avatar.present? %>
  <%= image_tag attendee.avatar, class: "w-8 h-8 rounded-full float-left h-full" %>
<% end %>
  <span class="ml-3"><%= attendee.name %></span>
</div>
