<div id="events">
  <div class="container my-6 mx-auto px-2 md:px-6">
    <p class="font-bold text-4xl my-4 text-gray-800">Upcoming Events:</p>
    <div class="flex flex-wrap">
      <% @events.each do |event| %>
        <%= render event %>
      <% end %>
    </div>
  </div>
</div>
