<!---->
<!---->
<div id="events">
<div class="container  my-12 mx-auto px-2 md:px-12">
  <div class="flex flex-wrap -mx-1 lg:-mx-4">
  <% @events.each do |event| %>
    <%= render event %>
    <p>
    </p>
  <% end %>
</div>
  </div>
</div>
<!---->
<!-- <%= link_to "New event", new_event_path %> -->
<!---->
<!-- <h1 class="text-3xl font-bold underline"> -->
<!--     Hello world! -->
<!-- </h1> -->
